.cert{
    padding-top: 40px;
  }
.container {
      display: flex;
      align-items: center;
      justify-content: center
    }

    .cert-img {
      max-width: 100%;
      height: auto;
      
    }
    .cert-image {
      flex-basis: 95%
    }
    .text {
      font-size: 20px;
      padding-left: 20px;
    }
    @media (max-width: 600px){
      #cert{
        display: block;
        margin-bottom: -300px;
      }
      /* .cert-img {
        width: 45vw;
      } */
      .container{
        display: block;
      }
      .text{
        font-size: 14px;
        padding-left: 0px;
      }
      .cert{
        padding-top: 20px;
      }
      
    }